@value colors: "../design.module.css";
@value calico_orange from colors;

.headerMobile {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 10px 15px 10px;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.mobile-flat-header {
  border-bottom: 2px solid rgb(245, 245, 245);
}

.menuIcon {
  margin-right: 10px;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.header-scrolling {
  border-bottom: 1px solid rgb(245, 245, 245);
}

/* Custom, iPhone Retina : 320px ~ */
@media only screen and (min-width: 320px) {
 
}
/* Extra Small Devices, Phones : 480px ~ */
@media only screen and (min-width: 480px) {
}
/* Small Devices, Tablets : 768px ~ */
@media only screen and (min-width: 768px) {
 
}
/* Medium Devices, Desktops : 992px ~ */
@media only screen and (min-width: 992px) {
 
}
/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width: 1200px) {

}
