.headerDesktop {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 10px 15px 10px;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.flat-header nav {
  padding-left: 14px;
}
.flat-header .logoAndSearch {
  width: 100%;
  display: flex;
}
/* Custom, iPhone Retina : 320px ~ */
@media only screen and (min-width: 320px) {
}
/* Extra Small Devices, Phones : 480px ~ */
@media only screen and (min-width: 480px) {
}
/* Small Devices, Tablets : 768px ~ */
@media only screen and (min-width: 768px) {
  .headerDesktop {
    flex-direction: column;
    margin-top: 0;
    position: fixed;
    padding-top: 35px;
    padding-bottom: 40px;
  }

  .flat-header {
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(245, 245, 245);
  }
  .flat-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
/* Medium Devices, Desktops : 992px ~ */
@media only screen and (min-width: 992px) {
}
/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width: 1200px) {
}
