@value colors: "../colors.module.css";
@value calico_orange from colors;
/*==========  Mobile First Method  ==========*/
/* All Device */

.itemList-li {
  /* margin-left: -50px;
  padding: 0 0 40px 50px; */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.itemContainer {
  width: 80%;
  /* margin: 10%; */
  /* font-family: 'acumin-pro-condensed','noto sans KR',sans-serif; */
  font-size: 12px;
  margin-bottom: 10px;
}

.brand {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 7px;
}

.description {
  margin-bottom: 15px;
  line-height: 1.4;
}

.item_name {
}

.other_info {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 6px;
}

.price_wo_sale {
  
}

.price__original {
  opacity: 0.55;
  font-weight: normal;
  /* color: grey; */
}

.price__sale {
  /* margin-left: 5px;  */
}

.price__percentage {
  margin-left: 5px; 
  color: red;
}


.itemImg {
  width: 100%;
}

.go_to_website {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.go_to_website__button {
  padding: 10px 14px;
  border-radius: 14px;
  background-color: black;
  color: white;
  font-size: 10px;
  font-weight: bold;
  display: flex; 
  align-items: center;
  /* margin-top: 10px */
  margin-bottom: 6px;
}
.go_to_website__button:hover {
  background-color: calico_orange;
}

.website_info {
  padding-right: 5px;
}

.button_icon {
  margin-left: 5px;
  font-size: 16px;
}

.sold_out {
  margin-top: 5px;
  background-color: red;
  color: white;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
}

/* Custom, iPhone Retina : 320px ~ */
@media only screen and (min-width : 320px) {
  .itemList-li {
    width: 50%;
  }
}
/* Extra Small Devices, Phones : 480px ~ */
@media only screen and (min-width : 480px) {

}
/* Small Devices, Tablets : 768px ~ */
@media only screen and (min-width : 768px) {
  .itemList-li {
    width: 33%;
  }
}
/* Medium Devices, Desktops : 992px ~ */
@media only screen and (min-width : 992px) {
  .itemList-li {
    width: 25%;
  }
}
/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width : 1200px) {

}