ul {
  display: flex;
  flex-wrap: wrap;
}

/* Custom, iPhone Retina : 320px ~ */
@media only screen and (min-width: 320px) {

}
/* Extra Small Devices, Phones : 480px ~ */
@media only screen and (min-width: 480px) {

}
/* Small Devices, Tablets : 768px ~ */
@media only screen and (min-width: 768px) {

}
/* Medium Devices, Desktops : 992px ~ */
@media only screen and (min-width: 992px) {
  ul {
    width: 80%;
  }
}
/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width: 1200px) {

}
