@value colors: "../../global.module.css";
@value calico_orange from colors;

.white {
  color: white;
  -webkit-text-stroke: 2px black;

  /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
}

.black {
  color: black;
}

.orange {
  /* color: rgb(255, 115, 0); */
  color: calico_orange;
  
}