@value calico_orange from "../../design.css";
/* app 빌드시 이 파일의 첫번째 CSS가 먹히지 않는 문제가 있다. 도대체 뭘까*/
.nothing {

}

.white {
  color: white;
  -webkit-text-stroke: 2px black;
  /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
}

.logoH1 {
  font-size: 30px;
  font-weight: bold;
}

.black {
  color: black;
}

.orange {
  /* color: rgb(255, 115, 0); */
  color: calico_orange;
}

/* Custom, iPhone Retina : 320px ~ */
@media only screen and (min-width: 320px) {
}
/* Extra Small Devices, Phones : 480px ~ */
@media only screen and (min-width: 480px) {
}
/* Small Devices, Tablets : 768px ~ */
@media only screen and (min-width: 768px) {
  .logoH1 {
    font-size: 40px;
  }
  .flat-h1 {
    padding: 0 20px 0 20px;
    margin:0;
  }
  .desktop {
    display: flex;
    margin: 20px 0 10px 0;
    justify-content: center;
  }
}
/* Medium Devices, Desktops : 992px ~ */
@media only screen and (min-width: 992px) {
}
/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width: 1200px) {
}