.navUl {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navList {
  margin-bottom: 20px;
}

.navList a {
  display: block;
}

.headerCategoryCommon {
  font-size: 20px;
}


/* Custom, iPhone Retina : 320px ~ */
@media only screen and (min-width: 320px) {
}
/* Extra Small Devices, Phones : 480px ~ */
@media only screen and (min-width: 480px) {
}
/* Small Devices, Tablets : 768px ~ */
@media only screen and (min-width: 768px) {
  .navUl {
    width: fit-content;
    flex-direction: row;
  }
}
/* Medium Devices, Desktops : 992px ~ */
@media only screen and (min-width: 992px) {
  .navList {
    font-size: 22px;
  }
  
}
/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width: 1200px) {
}
