.navUl {
  width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navList {
  /* display: inline-block; */
  /* position: relative; */
  width: fit-content;
  display: block;
  font-size: 16px;
}

.navList a {
  display: block;
}

.bigCategory {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navList:hover .bigCategory {
  padding-bottom: 3px;
  border-bottom: 3px solid black;
  box-sizing: border-box;
}

.headerCategoryCommon {
  padding: 20px 10px 12px;
}

.scrolledDown .navList {
  /* font-size: 18px; */
}

.subNavUl {
  display: none;
  position: absolute;
  width: 100vw;
  left: 0;
  background-color: white;
  /* width: inherit; */
  border-bottom: 2px solid rgb(245, 245, 245);
  padding-left: 10px;
}

.navList:hover .subNavUl {
  display: flex;
  justify-content: center;
}

.scrolledDown .headerCategoryCommon {
  padding: 20px 6px 12px;
}

.scrolledDown .navList:hover .subNavUl {
  display: flex;
  justify-content: flex-start;
}


.subNavUl li {
  display: block;
  width: fit-content;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: black;
}

.subNavUl li .active {
  color: blue;
}



/* Custom, iPhone Retina : 320px ~ */
@media only screen and (min-width: 320px) {
}
/* Extra Small Devices, Phones : 480px ~ */
@media only screen and (min-width: 480px) {
}
/* Small Devices, Tablets : 768px ~ */
@media only screen and (min-width: 768px) {
  .navUl {
    width: fit-content;
    flex-direction: row;
  }
}
/* Medium Devices, Desktops : 992px ~ */
@media only screen and (min-width: 992px) {
  .navList {
    font-size: 22px;
  }
  
}
/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width: 1200px) {
}
